<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<style>
	
</style>
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Liste des oeuvres</h1>

<f:flashMessages />

<table  class="tx_expositionmnp" >
	<tr>
		<th><f:translate key="tx_expositionmnp_domain_model_oeuvres.intitule" /></th>
		<th><f:translate key="tx_expositionmnp_domain_model_oeuvres.date" /></th>
		<th><f:translate key="tx_expositionmnp_domain_model_oeuvres.description" /></th>
		<th><f:translate key="tx_expositionmnp_domain_model_oeuvres.type" /></th>
		<th><f:translate key="tx_expositionmnp_domain_model_oeuvres.dimensions" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:widget.paginate objects="{oeuvres}" as="paginatedOeuvres"
	   configuration="{itemsPerPage: 5, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 10}">
	   <f:for each="{paginatedOeuvres}" as="oeuvre">
		<tr>
			<td><f:link.action action="show" arguments="{oeuvres : oeuvre}"> {oeuvre.intitule}</f:link.action></td>
			<td><f:link.action action="show" arguments="{oeuvres : oeuvre}"> {oeuvre.date -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{oeuvres : oeuvre}"><f:format.html>{oeuvre.description}</f:format.html> </f:link.action></td>
			<td><f:link.action action="show" arguments="{oeuvres : oeuvre}"> {oeuvre.type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{oeuvres : oeuvre}"> {oeuvre.dimensions}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{oeuvres : oeuvre}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{oeuvres : oeuvre}">Delete</f:link.action></td>
		</tr>
	</f:for>
	</f:widget.paginate>
	
</table>

<f:link.action action="new">New Oeuvres</f:link.action>
</f:section>
</html>