<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<style>

</style>
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Oeuvres</h1>

<f:flashMessages />

</div>
<div class="row">
	<f:for each="{oeuvres}" as="oeuvre">

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
				<f:image  class="card-img-top" src="{oeuvre.image.originalResource.publicUrl}" style=" object-fit: cover; width: 100%; height:100%;"  />
	      <div class="caption">
	        <h3>{oeuvre.intitule}</h3>
	        <f:format.html>{oeuvre.description}</f:format.html>
					<f:link.action class="btn btn-primary" action="show" arguments="{oeuvres : oeuvre}"> voir plus</f:link.action>
	      </div>
	    </div>
	  </div>
	</f:for>

</div>
<!--
<table  class="tx_expositionmnp" >
	<tr>
		<th><f:translate key="tx_expositionmnp_domain_model_oeuvres.intitule" /></th>
		<th><f:translate key="tx_expositionmnp_domain_model_oeuvres.date" /></th>
		<th><f:translate key="tx_expositionmnp_domain_model_oeuvres.description" /></th>
		<th><f:translate key="tx_expositionmnp_domain_model_oeuvres.type" /></th>
		<th><f:translate key="tx_expositionmnp_domain_model_oeuvres.dimensions" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{oeuvres}" as="oeuvre">
		<tr>
			<td><f:link.action action="show" arguments="{oeuvres : oeuvre}"> {oeuvre.intitule}</f:link.action></td>
			<td><f:link.action action="show" arguments="{oeuvres : oeuvre}"> {oeuvre.date -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{oeuvres : oeuvre}"><f:format.html>{oeuvre.description}</f:format.html> </f:link.action></td>
			<td><f:link.action action="show" arguments="{oeuvres : oeuvre}"> {oeuvre.type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{oeuvres : oeuvre}"> {oeuvre.dimensions}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{oeuvres : oeuvre}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{oeuvres : oeuvre}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table> -->

</f:section>
</html>
