<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div style="display:flex;">
	<f:image  class="card-img-top" src="{oeuvres.image.originalResource.publicUrl}" style=" height: 100% !important; width:auto"  />
	<div style=" border-left: 1px solid grey; margin-left: 10px; padding-left: 15px; width:100%;">
		<h2>{oeuvres.intitule}</h2>
		<p><b>Date de création : </b><f:format.date format="%d %B %Y">{oeuvres.date}</f:format.date></p>
		<p><b>Description : </b><f:format.html>{oeuvres.description}</f:format.html></p>
		<p><b>Dimensions : </b>{oeuvres.dimensions}</p>
		<f:format.html>{oeuvres.biographie}</f:format.html>
	</div>
</div>
</html>
