<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-exposition-mnp" >
	<tr>
		<td>
			<f:translate key="tx_expositionmnp_domain_model_exposition.nom" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_expositionmnp_domain_model_exposition.horaires" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_expositionmnp_domain_model_exposition.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_expositionmnp_domain_model_exposition.visuel" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_expositionmnp_domain_model_exposition.tarif" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_expositionmnp_domain_model_exposition.date_debut" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_expositionmnp_domain_model_exposition.date_fin" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>